@page "/edit-user-dialog"

@using Syncfusion.Blazor.Popups
@using System.Collections.Generic
@using System.Linq

@using BerghAdmin.Services.UserManagement
@using BerghAdmin.Data
@using BerghAdmin.Authorization
@using System.Security.Claims

@inject IUserService _userService

@attribute [Authorize(Policy = "IsAdministrator")]

<div id="EditUserDialogTarget">

    <SfDialog Target="#EditUserDialogTarget" Width="1000px" IsModal="true" ShowCloseIcon="true" @bind-Visible="@IsVisible">
        <DialogEvents OnOverlayModalClick="@OnOverlayModalClick" />
        <DialogTemplates>
            <Header>@headerText</Header>
            <Content>
                <EditForm Model="@_currentUser" OnValidSubmit="@ValidSubmit">
                    <DataAnnotationsValidator/>
                    <table>
                        <tr>
                            <td colspan="2">
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">Naam:</label>
                                    <SfTextBox @bind-Value="@_currentUser.Name" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">User name:</label>
                                    <SfTextBox @bind-Value="@_currentUser.UserName" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">Email:</label>
                                    <SfTextBox @bind-Value="@_currentUser.Email" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">Email bevestigd:</label>
                                    <SfCheckBox TChecked="bool" @bind-Checked="@_currentUser.EmailConfirmed" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">Telefoon:</label>
                                    <SfTextBox @bind-Value="@_currentUser.PhoneNumber" />
                                </div>
                            </td>
                            <td>
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">Telefoon nummer bevestigd:</label>
                                    <SfCheckBox TChecked="bool" @bind-Checked="@_currentUser.PhoneNumberConfirmed" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">User gelocked:</label>
                                    <SfCheckBox TChecked="bool" @bind-Checked="@_currentUser.LockoutEnabled" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">New Password:</label>
                                    <SfTextBox @bind-Value="@_newPassword" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="form-group col-md-12">
                                    <label class="col-form-label">Claims:</label>
                                    <SfListBox TValue="string[]" TItem="string" DataSource="@allClaimValues" @bind-Value="@selectedClaims" @ref="claimsListBox">
                                        <ListBoxFieldSettings Text="value" Value="type" />
                                        <ListBoxSelectionSettings ShowCheckbox="true" />
                                    </SfListBox>
                                </div>
                            </td>
                        </tr>
                        <div class="form-group">
                            <SfButton Type="submit" CssClass="e-flat" IsToggle="true" IsPrimary="true" Content="Opslaan" />
                            <SfButton Type="button" CssClass="e-flat" IsToggle="false " IsPrimary="false" Content="Afbreken" OnClick="@DialogClose" />
                        </div>
                    </table>
                </EditForm>
            </Content>
        </DialogTemplates>
    </SfDialog>

</div>
<ErrorDialog @ref="errorDialog" />

@code {

    [Parameter]
    public bool IsVisible { get; set; } = false;

    public User _currentUser { get; set; } = new User();
    public string? headerText;

    private SfGrid<User>? _originatingGrid;
    private bool _isNewUser;
    private string _newPassword = null;

    private ErrorDialog errorDialog = new();

    SfListBox<string[],string>? claimsListBox;
    public string[]? allClaimValues;
    public string[]? selectedClaims;
    private IDictionary<string, Claim>? allClaims; 

    protected override void OnInitialized()
    {
        allClaims = _userService.GetClaims();
        allClaimValues = allClaims.Keys.ToArray();
    }

    public async Task ShowDialog(User user, SfGrid<User> grid)
    {
        _currentUser = user;
        _originatingGrid = grid;
        _isNewUser = _currentUser.Id == 0;
        _newPassword = "";

        headerText = _isNewUser ? "Nieuwe user toevoegen" : "Wijzig user gegevens";

        IsVisible = true;

        // fill selected claims based on the data of the user
        if (_isNewUser)
        {
            selectedClaims = new string[] {};
        }
        else
        {
            var claims = await _userService
                                .GetUserClaimsAsync(_currentUser.UserName);

            selectedClaims = claims.Select(c => c.Value).ToArray();
        }

        this.StateHasChanged();
    }

    protected async Task ValidSubmit(EditContext editContext)
    {
        if (_isNewUser)
        {
            if (string.IsNullOrEmpty(_newPassword))
            {
                errorDialog.Show("Vul eerst een valide password in.");
            }
            else
            {
                var newClaims = GetSelectedClaims();
                await _userService.InsertUserAsync(_currentUser, _newPassword, newClaims);
                await _originatingGrid!.AddRecordAsync(_currentUser);
            }
        }
        else
        {
            var newClaims = GetSelectedClaims();
            await _userService.UpdateUserAsync(_currentUser, newClaims);
            if (!string.IsNullOrEmpty(_newPassword))
            {
                await _userService.UpdateUserPasswordAsync(_currentUser, _newPassword);
            }
            await _originatingGrid!.SetRowData(_currentUser.Name, _currentUser);
        }
    }

    private void OnOverlayModalClick(OverlayModalClickEventArgs arg)
    {
        this.IsVisible = false;
    }

    private void DialogClose()
    {
        IsVisible = false;
        this.StateHasChanged();
    }

    private Claim[] GetSelectedClaims()
        => selectedClaims!
            .Select(v => allClaims![v])
            .ToArray();

} 

<style>
    .col-form-label {
        padding-top: 1px;
        padding-bottom: 1px;
        color: #8d7f7f;
    }
    .e-listbox-wrapper:not(.e-list-template) .e-list-item, .e-listbox-wrapper .e-list-nrt, .e-listbox-wrapper .e-selectall-parent, .e-listbox-container:not(.e-list-template) .e-list-item, .e-listbox-container .e-list-nrt, .e-listbox-container .e-selectall-parent {
        height: 25px;
        line-height: 1.5;
        padding: 1px 16px 1px 16px;
        position: relative;
    }
</style>