@page "/Fietsers/Tochten"

@using BerghAdmin.Data
@using BerghAdmin.Services.Evenementen

@inject IJSRuntime jsRuntime
@inject BerghAdmin.Services.IPersoonService persoonService
@inject BerghAdmin.Services.Evenementen.IEvenementService evenementService

@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

@attribute [Authorize(Policy = "BeheerFietsers")]

<h3>Fietstochten</h3>

@*
    The grid showing all fietstochten
*@
<SfGrid DataSource="@FietsTochtList" SelectedRowIndex=0>
    <GridEditSettings 
        AllowAdding="true" 
        AllowDeleting="true" 
        AllowEditing="true" 
        Mode="EditMode.Dialog" 
        AllowEditOnDblClick="true">
    </GridEditSettings>
    <GridEvents RowSelected="SelectFietsTocht" TValue="FietsTocht" />
    <GridColumns>
        <GridColumn Field=@nameof(FietsTocht.Id) HeaderText="Id" TextAlign="TextAlign.Left" Width="0" IsPrimaryKey="true"></GridColumn>
        <GridColumn Field=@nameof(FietsTocht.Titel) HeaderText="Titel" TextAlign="TextAlign.Left"  Width="110"></GridColumn>
        <GridColumn Field=@nameof(FietsTocht.GeplandeDatum) HeaderText="Datum" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Left"  Width="70"></GridColumn>
        <GridColumn Field=@nameof(FietsTocht.AantalDeelnemers) HeaderText="# deelnemers" TextAlign="TextAlign.Left"  Width="120"></GridColumn>
    </GridColumns>
</SfGrid>

<br />
<div class='e-statustext'>Deelnemers aan fietstocht: <b>@SelectedFietsTocht.Titel</b></div>
<SfGrid @ref="@DeelnemersGrid" DataSource="@DeelnemerList"
    ContextMenuItems="@(new List<ContextMenuItemModel>() { 
                            new ContextMenuItemModel { Text = "Toevoegen Fietser", Target = ".e-content", Id = "add-fietser" },
                            new ContextMenuItemModel { Text = "Verwijderen Fietser", Target = ".e-content", Id = "delete-fietser" },
                            new ContextMenuItemModel { Text = "Toon Donaties", Target = ".e-content", Id = "toon-donaties" },
                        })">
    <GridEvents ContextMenuItemClicked="OnContextMenuClick" TValue="Persoon" />
    <GridColumns>
        <GridColumn Field=@nameof(Persoon.VolledigeNaam) HeaderText="Naam" TextAlign="TextAlign.Left"  Width="110"></GridColumn>
        <GridColumn Field=@nameof(Persoon.GeboorteDatum) HeaderText="Geb.datum" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Left"  Width="70"></GridColumn>
        <GridColumn Field=@nameof(Persoon.Mobiel) HeaderText="Mobiel" TextAlign="TextAlign.Left"  Width="70"></GridColumn>
        <GridColumn Field=@nameof(Persoon.EmailAdres) HeaderText="Email" TextAlign="TextAlign.Left"  Width="120"></GridColumn>
        <GridColumn Field=@nameof(Persoon.GetDonatieBedrag) HeaderText="Totaal" TextAlign="TextAlign.Left"  Width="200"></GridColumn>
    </GridColumns>
</SfGrid>

<SelectFietserDialog @ref="selectFietserDialog"></SelectFietserDialog>

@code
{
    // Everything to handle persons
    public IEnumerable<FietsTocht> FietsTochtList;
    public IEnumerable<Persoon> DeelnemerList { get; set; }
    public FietsTocht SelectedFietsTocht { get; set; } = new();
    SfGrid<Persoon> DeelnemersGrid = new();

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "fietser");
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        RefreshList();
    }

    public void SelectFietsTocht(RowSelectEventArgs<FietsTocht> args)
    {
        SelectedFietsTocht = args.Data;
        DeelnemerList = SelectedFietsTocht
                            .Deelnemers
                            .OrderBy(d => d.VolledigeNaam);
    }

    public void ActionCompletedHandler(ActionEventArgs<FietsTocht> args)
    {
        // Here you can customize your code
    }

    public Task RefreshList()
    {
        FietsTochtList = GetFietsTochten();
        if (SelectedFietsTocht == null)
        {
            SelectedFietsTocht = FietsTochtList.ElementAt(0);
        }
        if (SelectedFietsTocht != null)
        {
            DeelnemerList = SelectedFietsTocht
                            .Deelnemers
                            .OrderBy(d => d.VolledigeNaam);        }   
        
        return Task.CompletedTask;
    }

    private IEnumerable<FietsTocht> GetFietsTochten()
    {
        var fietsTochten = evenementService
                    .GetAllFietsTochten()
                    .OrderByDescending(ft => ft.GeplandeDatum)
                    .ToList<FietsTocht>();

        return fietsTochten;
    }

    // Everything to handle the email dialog
    SelectFietserDialog selectFietserDialog = new();

    // Everything to handle the edit persoon dialog
    EditPersoonDialog editPersoonDialog = new();

    // Everything to handle the context menu
    // Triggers when the item is selected
    public async Task OnContextMenuClick(ContextMenuClickEventArgs<Persoon> args)
    {
        if (args.Item.Id == "add-fietser")
        {
            selectFietserDialog.ShowDialog(SelectedFietsTocht, DeelnemersGrid);
            return;
        }
        if (args.Item.Id == "delete-fietser")
        {
            var persoon = args.RowInfo.RowData as Persoon;
            if (persoon == null)
                return;

            await evenementService.DeleteDeelnemer(SelectedFietsTocht, persoon);
            await RefreshList();
            DeelnemersGrid.Refresh();

            return;
        }
        if (args.Item.Id == "toon-donaties")
        {
            return;
        }
    }

}
