@page "/"

@using Syncfusion.Blazor.Cards
@using Syncfusion.Blazor.Buttons
@using System.Security.Claims

@inject NavigationManager NavigationManager

@inject IJSRuntime jsRuntime

<div class="e-card-layout">
    <table>
        <tr width="100%">
            <td height="200px" width="200px">
                <AuthorizeView Policy="IsBeheerAmbassadeurs">
                    <div id="Tile-Ambassadeurs">
                        <SfCard class="e-card">
                            <CardImage Image="images/tile-ambassadeurs.jpg" />
                            <CardFooter>
                                <CardFooterContent>
                                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e => NavigateTo("Ambassadeurs"))">Beheer Ambassadeurs</SfButton>
                                </CardFooterContent>
                            </CardFooter>
                        </SfCard>
                    </div>
                </AuthorizeView>
            </td>
            <td height="200px" width="200px">
                <AuthorizeView Policy="IsBeheerFietsers">
                    <div id="Tile-Fietsers">
                        <SfCard ID="Tile-Fietsers" class="e-card">
                            <CardImage Image="images/tile-fietsers.jpg" />
                            <CardFooter>
                                <CardFooterContent>
                                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e => NavigateTo("Fietsers/Fietstochten"))">Beheer Fietsers</SfButton>
                                </CardFooterContent>
                            </CardFooter>
                        </SfCard>
                    </div>
                </AuthorizeView>
            </td>
            <td height="200px" width="200px">
                <AuthorizeView Policy="IsBeheerGolfers">
                    <div id="Tile-Golfers">
                        <SfCard ID="Tile-Golfers" class="e-card">
                            <CardImage Image="images/tile-golfers.jpg" />
                            <CardFooter>
                                <CardFooterContent>
                                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e => NavigateTo("Golfers"))">Beheer Golfers</SfButton>
                                </CardFooterContent>
                            </CardFooter>
                        </SfCard>
                    </div>
                </AuthorizeView>
            </td>
        </tr>
        <tr width="100%">
            <td height="200px" width="200px">
                <AuthorizeView Policy="IsBeheerFinancien">
                    <div id="Tile-Financiën">
                        <SfCard class="e-card">
                            <CardImage Image="images/tile-financien.jpg" />
                            <CardFooter>
                                <CardFooterContent>
                                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e => NavigateTo("Financien"))">Beheer Financiën</SfButton>
                                </CardFooterContent>
                            </CardFooter>
                        </SfCard>
                    </div>
                </AuthorizeView>
            </td>
            <td height="200px" width="200px">
                <AuthorizeView Policy="IsSecretariaat">
                    <div id="Tile-Secretariaat">
                        <SfCard class="e-card">
                            <CardImage Image="images/tile-secretariaat.jpg" />
                            <CardFooter>
                                <CardFooterContent>
                                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e => NavigateTo("Secretariaat"))">Secretariaat</SfButton>
                                </CardFooterContent>
                            </CardFooter>
                        </SfCard>
                    </div>
                </AuthorizeView>
            </td>
            <td height="200px" width="200px">
                <AuthorizeView Policy="IsAdministrator">
                    <div id="Tile-ApplicatieManagement">
                        <SfCard class="e-card">
                            <CardImage Image="images/tile-applmgmt.jpg" />
                            <CardFooter>
                                <CardFooterContent>
                                    <SfButton CssClass="e-btn e-outline e-primary" @onclick="@(e => NavigateTo("ApplicatieManagement"))">Applicatie beheer</SfButton>
                                </CardFooterContent>
                            </CardFooter>
                        </SfCard>
                    </div>
                </AuthorizeView>
            </td>
        </tr>
    </table>
</div>
@code
{
    //[CascadingParameter]
    //private Task<AuthenticationState>? authenticationStateTask { get; set; }

    //bool NotIsAdmin = false;

    protected async override Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        //var authState = await authenticationStateTask;
        //var user = authState.User;


        //NotIsAdmin = await AuthorizationService.AuthorizeAsync(ClaimsPrincipal.Current, "IsAdministrator") != AuthorizationResult.Success();
    }

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        await jsRuntime.InvokeAsync<object>("SetSideMenu", "shared");
    }

    private void NavigateTo(string relativeUrl)
    {
        var uri = new Uri(new Uri(NavigationManager.BaseUri), relativeUrl);

        NavigationManager.NavigateTo(uri.ToString());
    }

}

<style>
    table, th, td {
        border: 20px solid white;
    }

    .property-panel-section .property-panel-content td {
        padding: 0 0 15px 0;
    }

    .e-btn {
        align-items: center;
    }

    .tile_layout.card-control-section .e-error {
        height: 200px;
        width: 100%;
    }

        .tile_layout.card-control-section .e-error .e-error-content {
            color: red;
            line-height: 100px;
            text-align: center;
        }

    .tile_layout.card-control-section .e-card .e-card-image {
        min-height: 200px;
        width: inherit;
    }

    .e-card .e-card-image {
        min-height: 200px;
        min-width: 200px;
    }

    .e-card-image {
        border-radius: 10px;
    }

    .e-card-opaque {
        opacity: 0.3;
    }

    .e-card-bright {
        opacity: 1.0;
    }

    .tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-header-title {
        font-size: 20px;
        font-family: Helvetica, 'Segoe UI';
        font-weight: bold;
    }

    .tile_layout.card-control-section .e-card .e-card-header .e-card-header-caption .e-card-sub-title {
        padding-top: 30px;
    }

    .tile_layout.card-control-section .e-card .e-card-content {
        padding-top: 30px;
        height: 110px;
    }

    .e-card .e-card-actions {
        display: flex;
        justify-content: center;
    }

    #source_link {
        float: right;
        margin-right: 10px;
    }
</style>