@using System.Linq;
@using BerghAdmin.Services.Configuration
@using BerghAdmin.Authorization;
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Identity
@using Microsoft.Extensions.Options
@using Syncfusion.Blazor.Buttons
@using Microsoft.AspNetCore.Components.Authorization

@using BerghAdmin.Data
@using BerghAdmin.Pages
@using System.Security.Claims


@inject BerghAdmin.Services.IPersoonService persoonService
@inject BerghAdmin.Services.IRolService rolService

@inject UserManager<User> UserManager
@inject NavigationManager NavigationManager
@inject IJSRuntime jsRuntime

<table>
    <tr>
        <td>
            <div class="form-group col-md-6">
                <label class="col-form-label">Overzicht van:</label>
                <SfMultiSelect 
                        TValue="RolTypeEnum[]" 
                               TItem="Rol"
                               ClosePopupOnSelect="false"
                               @bind-Value="@RolContext"
                               Placeholder="e.g Ambassadeur, Fietser, Golfer"
                               Mode="VisualMode.Box"
                               DataSource="@rollenList"
                               Width="700px"
                               ShowDropDownIcon="true"
                               ModelType="typeof(Rol)" >
                    <MultiSelectFieldSettings Value="Id" Text="Beschrijving"></MultiSelectFieldSettings>
                    <MultiSelectTemplates TItem="Rol">
                        <ItemTemplate>
                            @{
                                var contextValue = (context as Rol);
                                bool isChecked = RolContext != null ? RolContext.Contains(contextValue.Id) : false;

                                <span>
                                    <SfCheckBox TChecked="bool" @bind-checked="@isChecked"></SfCheckBox>
                                    @contextValue.Beschrijving
                                </span>
                            }
                        </ItemTemplate>
                    </MultiSelectTemplates>
                    <MultiSelectEvents 
                        TItem="Rol" 
                                       TValue="RolTypeEnum[]"
                                       OnValueSelect="@OnValueSelectHandler"
                                       ValueRemoved="@ValueRemovedHandler"
                                       Cleared="@ClearedHandler">
                    </MultiSelectEvents>
                </SfMultiSelect>
            </div>
        </td>
    </tr>
    <AuthorizeView Policy="IsAdministrator">
        <tr>
            <td>
                <div class="form-group col-md-12">
                    <label class="col-form-label">Toon alle rollen</label>
                    <SfCheckBox TChecked="bool" @bind-Checked="@ToonAlles" @onchange="onToonAllesChange" />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="form-group col-md-12">
                    <label class="col-form-label">Inclusief Verwijderd</label>
                    <SfCheckBox TChecked="bool" @bind-Checked="@ToonVerwijderd" @onchange="onToonVerwijderdChange" />
                </div>
            </td>
        </tr>
    </AuthorizeView>
</table>
<br />
@*
    The grid showing all persons
*@
<SfGrid @ref="@PersonenGrid"
        DataSource="@personenList"
        AllowPaging="true"
        AllowResizing="true"
        AllowSelection="true"
        ShowColumnMenu="true"
        ContextMenuItems="@(new List<ContextMenuItemModel>() {
                                new ContextMenuItemModel { Text = "Wijzig persoon", Target = ".e-content", Id = "edit-persoon" },
                                new ContextMenuItemModel { Text = "Toevoegen persoon", Target = ".e-content", Id = "add-persoon" },
                                new ContextMenuItemModel { Text = "Stuur email", Target = ".e-content", Id = "send-email" },
                                new ContextMenuItemModel { Text = "Kopieer emailadres(sen)", Target = ".e-content", Id = "copy-emailaddresses" },
                            })">
    <GridEditSettings 
        AllowAdding="true" 
                      AllowDeleting="true"
                      AllowEditing="true"
                      Mode="EditMode.Dialog"
                      AllowEditOnDblClick="true">
    </GridEditSettings>
    <GridSelectionSettings Type="Syncfusion.Blazor.Grids.SelectionType.Multiple" PersistSelection="true"></GridSelectionSettings>
    <GridEvents RowSelected="GetSelectedRecords" TValue="Persoon" />
    <GridEvents ContextMenuItemClicked="OnContextMenuClick" TValue="Persoon" />
    @* <GridEvents OnActionComplete="ActionCompletedHandler" TValue="Persoon" /> *@

    <GridColumns>
        <GridColumn Type="ColumnType.CheckBox" Width="25"></GridColumn>
        <GridColumn Field=@nameof(Persoon.Id) HeaderText="Id" TextAlign="TextAlign.Left" Width="0" IsPrimaryKey="true" Visible="false" />
        <GridColumn Field=@nameof(Persoon.VolledigeNaam) HeaderText="Naam" TextAlign="TextAlign.Left" Width="110">
            <Template>
                @{
                    var persoon = (context as Persoon);
                    <div>
                        @if (persoon.IsReserve)
                        {
                            <span class="reservediv reserve">@persoon.VolledigeNaam</span>
                        }
                        @if (!persoon.IsReserve)
                        {
                            <span class="reservediv no-reserve">@persoon.VolledigeNaam</span>
                        }
                    </div>
                }
            </Template>
        </GridColumn>
        <GridColumn Field=@nameof(Persoon.GeboorteDatum) HeaderText="Geb.datum" Format="d" Type="ColumnType.Date" TextAlign="TextAlign.Left" Width="70"></GridColumn>
        <GridColumn Field=@nameof(Persoon.Mobiel) HeaderText="Mobiel" TextAlign="TextAlign.Left" Width="70"></GridColumn>
        <GridColumn Field=@nameof(Persoon.EmailAdres) HeaderText="Email" TextAlign="TextAlign.Left" Width="120"></GridColumn>
        <GridColumn Field=@nameof(Persoon.GetRollenAsString) HeaderText="Rollen" TextAlign="TextAlign.Left" Width="200"></GridColumn>
        <GridColumn Field=@nameof(Persoon.IsVerwijderd) HeaderText="Status" FilterSettings="@(new FilterSettings { Type = Syncfusion.Blazor.Grids.FilterType.CheckBox })" Width="150">
            <Template>
                @{
                    var persoon = (context as Persoon);
                    if (! persoon.IsVerwijderd)
                    {
                        <div class="statustemp e-activecolor">
                            <span class="statustxt e-activecolor">Actief</span>
                        </div>
                    }
                    else
                    {
                        <div class="statustemp e-inactivecolor">
                            <span class="statustxt e-inactivecolor">Inactief</span>
                        </div>
                    }
                }
            </Template>
        </GridColumn>
    </GridColumns>
</SfGrid>

<SendMailDialog @ref="sendMailDialog"></SendMailDialog>
<EditPersoonDialog @ref="editPersoonDialog"></EditPersoonDialog>


@code {
    [Parameter]
    public RolTypeEnum[] RolContext { get; set; } = Array.Empty<RolTypeEnum>();
    [Parameter]
    public bool ToonAlles { get; set; } = false;
    [CascadingParameter]
    private Task<AuthenticationState>? _authenticationStateTask { get; set; }

    private User? CurrentUser;

    private bool ToonVerwijderd { get; set; } = false;

    // Everything to handle the email dialog
    SendMailDialog sendMailDialog = new();
    private async void ShowSendMailDialog()
    {
        if (string.IsNullOrWhiteSpace(CurrentUser?.Email))
        {
            return;
        }

        List<MailAddress> selectedAddresses = await GetSelectedEmailAddresses();
        MailMessage message = new()
        {
            From = new MailAddress(CurrentUser.Email, CurrentUser.Name),
            To = selectedAddresses
        };
        sendMailDialog.Message = message;
        await sendMailDialog.DialogOpen();
    }

    private async Task CopySelectedEmailAddressesAsync()
    {
        List<MailAddress> selectedAddresses = await GetSelectedEmailAddresses();
        string emailAddresses = string.Join(';', selectedAddresses.Select(a => a.Address));
        await jsRuntime.InvokeVoidAsync("clipboardApi.copyTextToClipboard", emailAddresses, $"Emailaddressen naar klembord gekopieerd.");
    }

    private async Task<List<MailAddress>> GetSelectedEmailAddresses()
    {
        var emailAddressesList = new List<MailAddress>();
        var selectedPersonenWithMailAddress = (await this.PersonenGrid.GetSelectedRecordsAsync())
            .Where(p => !string.IsNullOrWhiteSpace(p.EmailAdres));
        foreach (var persoon in selectedPersonenWithMailAddress)
        {
            emailAddressesList.Add(new(persoon.EmailAdres, persoon.VolledigeNaam));
        }
        return emailAddressesList;
    }

    // Everything to handle the edit persoon dialog
    EditPersoonDialog editPersoonDialog = new();

    // Everything to handle the context menu
    // Triggers when the item is selected
    public async Task OnContextMenuClick(ContextMenuClickEventArgs<Persoon> args)
    {
        if (args.Item.Id == "edit-persoon" || args.Item.Id == "add-persoon")
        {
            // open the edit dialog for a new or existing person
            var persoon = args.Item.Id == "edit-persoon" ? args.RowInfo.RowData as Persoon : new Persoon();
            editPersoonDialog.ShowDialog(persoon, rollenList, PersonenGrid);
            return;
        }
        if (args.Item.Id == "send-email")
        {
            // TODO:
            // get a list of all persons to send email to
            // pass it to next funtion
            ShowSendMailDialog();
            return;
        }
        if (args.Item.Id == "copy-emailaddresses")
        {
            await CopySelectedEmailAddressesAsync();
            return;
        }
    }

    // Everything to handle persons
    public List<RolTypeEnum> selectedRollen = new();
    public List<Persoon> personenList = new();
    public List<Rol> rollenList = new();
    SfGrid<Persoon> PersonenGrid = new();
    public List<double> SelectedRowIndexes { get; set; } = new();
    public double[] TotalValue { get; set; } = Array.Empty<double>();
    public string SelectedValue = string.Empty;

    protected override async void OnInitialized()
    {
        base.OnInitialized();
        selectedRollen = RolContext.ToList<RolTypeEnum>();
        rollenList = GetRollen();
        await RefreshList();

        if (_authenticationStateTask != null)
        {            
            var authenticationState = await _authenticationStateTask;
            CurrentUser = await UserManager.GetUserAsync(authenticationState?.User);
        }
    }

    private void ValueRemovedHandler(Syncfusion.Blazor.DropDowns.RemoveEventArgs<Rol> args)
    {
        selectedRollen.Remove(args.ItemData.Id);
        RefreshList();
    }

    private void OnValueSelectHandler(Syncfusion.Blazor.DropDowns.SelectEventArgs<Rol> args)
    {
        selectedRollen.Add(args.ItemData.Id);
        RefreshList();
    }

    private void ClearedHandler(MouseEventArgs args)
    {
        selectedRollen = new List<RolTypeEnum>();
        RefreshList();
    }

    public async Task GetSelectedRecords(RowSelectEventArgs<Persoon> args)
    {
        SelectedRowIndexes = await this.PersonenGrid.GetSelectedRowIndexes();
        TotalValue = SelectedRowIndexes.ToArray();
        SelectedValue = "";
        foreach (var data in TotalValue)
        {
            SelectedValue = SelectedValue + " " + data;
        }
        StateHasChanged();
    }

    public void ActionCompletedHandler(ActionEventArgs<Persoon> args)
    {
        // Here you can customize your code
    }

    private void onToonAllesChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        RefreshList();
    }

    private void onToonVerwijderdChange(Microsoft.AspNetCore.Components.ChangeEventArgs args)
    {
        RefreshList();
    }

    public Task RefreshList()
    {
        // refresh with value from multiselect dropdown box
        if (!ToonAlles && (selectedRollen == null || selectedRollen.Count<RolTypeEnum>() == 0))
        {
            personenList = new List<Persoon>();
        }
        else
        {
            personenList = GetPersonen(selectedRollen).OrderBy(p => p.Achternaam).ToList<Persoon>();
        }
        return Task.CompletedTask;
    }

    private List<Persoon> GetPersonen(List<RolTypeEnum> rolTypes)
    {
        var personen = new List<Persoon>();

        if (ToonAlles)
        {
            // also show persons with no role
            if (ToonVerwijderd)
            {
                personen = persoonService
                            .GetPersonen()!
                            .ToList<Persoon>();
            }
            else
            {
                personen = persoonService
                            .GetPersonen()!
                            .Where(p => !p.IsVerwijderd)
                            .ToList<Persoon>();
            }
        }
        else
        {
            // select persons with specified rol only
            var currentRollen = rollenList
                                .Where(r => rolTypes.Contains(r.Id))
                                .ToList<Rol>();

            personen = persoonService
                        .GetPersonen()!
                        .Where(p => !p.IsVerwijderd)
                        .Where(p => p.Rollen.FirstOrDefault(r => rolTypes.Contains(r.Id)) != null)
                        .ToList<Persoon>();
        }

        return personen;
    }

    private List<Rol> GetRollen()
    {
        // TODO
        // Get list of all rollen based on enum
        var rollenList = rolService
                        .GetRollen()
                        .OrderBy(r => r.Beschrijving)
                        .ToList<Rol>();
        return rollenList;
    }

}
<style>
    .statustemp {
        position: relative;
        height: 19px;
        border-radius: 5px;
        text-align: center;
    }
        .statustemp.e-inactivecolor {
            background-color: #ffd7cc;
            width: 64px;
    }
    td.e-rowcell .statustxt.e-inactivecolor {
        color: #e60000;
        position: relative;
        top: 0px;
    }
    .statustemp.e-activecolor {
        background-color: #ccffcc;
        width: 57px;
    }
    td.e-rowcell .statustxt.e-activecolor {
        color: #00cc00;
        position: relative;
        top: 0px;
    }

    td.e-rowcell .reservediv.reserve {
        color: #900C3F;
    }
    td.e-rowcell .reservediv.no-reserve {
        color: #166344;
    }

</style>
